<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Courses
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

</ion-content>
