<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title>
      Mon compte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row justify-content-center align-items-center style="height:150px; background-color: #ffcc00;">
        <ion-avatar >
          <img style="width:100px;" src="../../assets/img/user.png">
        </ion-avatar>
    </ion-row>
    <ion-row>
        <p style="margin:0px; font-size: 12px; width: 100%; padding: 10px; background-color:#ccc;">INFORMATIONS PERSONNELLES</p>
      </ion-row>
      <ion-list lines="none">
        <ion-item >
          <ion-icon slot="start" color="dark" name="person"></ion-icon>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                  <ion-label style="font-size:10px; color: #8c8a8a;">Nom & pr&eacute;nom</ion-label>
              </ion-col>
              <ion-col size="12">
                  <ion-label>{{livreur.nom}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
          
          
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="dark" name="call"></ion-icon>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                  <ion-label style="font-size:10px; color: #8c8a8a;">T&eacute;l&eacute;phone</ion-label>
              </ion-col>
              <ion-col size="12">
                  <ion-label>{{livreur.telephone}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="dark" name="at"></ion-icon>
          <ion-grid>
              <ion-row>
                <ion-col size="12">
                    <ion-label style="font-size:10px; color: #8c8a8a;">Email</ion-label>
                </ion-col>
                <ion-col size="12">
                    <ion-label>{{livreur.email}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          
        </ion-item>
      
      </ion-list>
    
      <ion-row>
        <p style="margin:0px; font-size: 12px; width: 100%; padding: 10px; background-color:#ccc;">DECONNEXION</p>
        <p style="text-align:center; width: 100%;">
            <ion-button (click)="deconnexion()" color="danger">Se d&eacute;connecter</ion-button>
          </p>
      </ion-row>
    
</ion-content>
