<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

  <!--  <ion-buttons (click)="detailsCourseEnCours()" *ngIf="showcourseencours" style="margin-right: 3%;font-size: 170%"
      slot="end">
      <ion-icon name="share-alt"></ion-icon>
    </ion-buttons>-->
    <ion-title>
      Expédition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item style="margin-top: 5%">
    <div class="Divisionheader" style="margin-left: 5%;color: teal">
      <p> Départ</p>
    </div>
    <div class="Divisionheader" style="color: black">
      <p>Déstination </p>
    </div>
    <div class="Divisionheader" style="color: red">
      <p> Etat</p>
    </div>
  </ion-item>-->
  <ion-row class="div2barre">
    <div class="div1barre" style="width: 5%;height: 100%;background-color: black"></div>
    <p
      style="margin:0px; font-size: 15px; width: 100%; padding: 10px; background-color:#ccc;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bolder;margin-left:5%">
      Expédition a traiter</p>
  </ion-row>
  <ion-spinner *ngIf="showlist" name="dots"  style="margin-left: 50%;margin-top: 50%;" color="danger"></ion-spinner>
  <!-- <ion-list *ngFor="let l of listExpedition">
    <ion-item (click)="presentActionSheet(l)">-->
  <!--  <ion-icon *ngIf="encours" name="mail-unread" style="color: green"></ion-icon>
      <ion-icon *ngIf="!encours" name="mail-unread"></ion-icon>
      <b style="margin-left: 5%;color: red">
        {{l.libelleExpedition}}
      </b>&nbsp;
      <b style="color: blue">
          {{l.libelleDestination}}
      </b>-->


  <!--<div class="Division" style="margin-left: 5%;color: teal">
        <p> {{l.libelleExpedition}} </p>
      </div>
      <div class="Division" style="color: black">
        <p>{{l.libelleDestination}}</p>
      </div>
      <div class="Division" style="color: red">
        <p> {{l.etatCourse}} </p>
      </div>
    </ion-item>-->
  <!-- 
    <ion-item (click)="presentActionSheet()">
      <ion-icon *ngIf="encours" name="mail-unread" style="color: green"></ion-icon>
      <ion-icon *ngIf="!encours" name="mail-unread" ></ion-icon>
      <b style="margin-left: 5%;color: red">
        Yoff Rue 245
      </b>&nbsp;
      <b style="color: blue">
        Ouest-Foire villa 214
      </b>
    </ion-item>
    <ion-item (click)="presentActionSheetother()">
      <ion-icon name="mail-unread"></ion-icon>
      <b style="margin-left: 5%;color: red">
        Ouakam Qt Lébou
      </b>&nbsp;
      <b style="color: blue">
        Ouest-Foire villa 214
      </b>
    </ion-item>
    <ion-item (click)="presentActionSheetother()">
      <ion-icon name="mail-unread"></ion-icon>
      <b style="margin-left: 5%;color: red">
        Htsoft
      </b>&nbsp;
      <b style="color: blue">
        Centre ville
      </b>
    </ion-item>
    <ion-item (click)="presentActionSheetother()">
      <ion-icon name="mail-unread"></ion-icon>
      <b style="margin-left: 5%;color: red">
        Grand yoff garre routière
      </b>&nbsp;
      <b style="color: blue">
        Yoff virage 321
      </b>
    </ion-item>
    <ion-item (click)="presentActionSheetother()">
      <ion-icon name="mail-unread"></ion-icon>
      <b style="margin-left: 5%;color: red">
        Yoff Rue 29
      </b>&nbsp;
      <b style="color: blue">
        Yoff Qt Ndiago
      </b>
    </ion-item>
    <ion-item (click)="presentActionSheetother()">
      <ion-icon name="mail-unread"></ion-icon> 
      <b style="margin-left: 5%;color: black">
        Brioche dorée Yoff
      </b>
    </ion-item>
    <ion-item (click)="presentActionSheetother()">
        <ion-icon name="mail-unread"></ion-icon>
      <b style="margin-left: 5%;color: black">
        Auchan Castor
      </b>
    </ion-item>
    <ion-item (click)="presentActionSheetother()">
        <ion-icon name="mail-unread"></ion-icon>
      <b style="margin-left: 5%;color: black">
        Hotel terroubi
      </b>
    </ion-item>-->

  <!-- </ion-list>-->
  <ul *ngFor="let l of listExpedition">
    <li><a (click)="presentActionSheet(l)">
        <ion-row>
          <ion-col size="10px">
            <!--<img  src="../../assets/img/expedition.png"> -->
            <ion-label style="color: rgb(12, 1, 1);font-family: 'Times New Roman', Times, serif;">
              {{index(l)}}
            </ion-label>
          </ion-col>
          <ion-col size="30px">
            <img src="../../assets/img/expedier.png" width="20px">
          </ion-col>
          <ion-col>
            <ion-label style="color: rgb(12, 1, 1);font-family: 'Times New Roman', Times, serif;font-size: 20px">
              {{l.libelleExpedition}}/{{l.libelleDestination}}<br />
            </ion-label>
          </ion-col>
        </ion-row>
      </a>
    </li>
  </ul>
  
  
</ion-content>