<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/detailcoursepage"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Expédition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar style="background-color: white">
        <img style="width:100px;" src="../../assets/img/depart.png">
      </ion-avatar>
      <p style="margin-left: 5%;">{{adresseExpediteur}}<b
          style="color: red;font-weight: bolder;">&nbsp;(D&eacute;part)</b></p>
    </ion-item>
    <!-- <ion-item (click)="presentAlertConfirm()" >
          <ion-icon name="pin" style="color: teal"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;
          <p>Ma position</p><br />
        </ion-item>-->
    <!--<ion-item >
          <ion-icon name="home" style="color: teal"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-label >{{adresseExpediteur}}</ion-label>
          <ion-input type="text" [(ngModel)]="adresseExpediteur"></ion-input>
        </ion-item>-->
    <p *ngIf="positionNull" style="margin-left: 5%;color: red;font-size: 70%"> Saisir une adresse ou recuperer votre
      position!
      <ion-icon name="alert"></ion-icon>
    </p>
  </ion-list>
<!--<div *ngIf="mapshow" #map id="map" style="height: 50%"></div>-->
  <ion-list>
    <ion-item>
      <ion-avatar style="background-color: white">
        <img style="width:100px;" src="../../assets/img/arrivee.png">
      </ion-avatar>&nbsp;
      <p style="margin-left: 5%;">Informations déstination</p>
    </ion-item>
    <ion-item>
      <p *ngIf="telephoneetat" style="margin-left: 5%;color: red;font-size: 70%"> Le téléphone est
        obligatoirs
        <ion-icon name="alert"></ion-icon>
      </p>
      <ion-label *ngIf="!telephoneetat" position="floating">N° Téléphone</ion-label>
      <ion-input (ionInput)="searchDestin()" (ionFocus)="hidemessage()" [(ngModel)]="telephone" type="number">
      </ion-input>
    </ion-item>
    <br />

    <ion-item>
      <p *ngIf="nometat" style="margin-left: 5%;color: red;font-size: 70%"> Le nom est obligatoir
        obligatoirs
        <ion-icon name="alert"></ion-icon>
      </p>
      <ion-label *ngIf="!nometat" position="floating">Nom complet
      </ion-label>
      <ion-input type="text" (ionFocus)="hidemessage()" [(ngModel)]="nom"></ion-input>

    </ion-item><br />

    <ion-item>
      <p *ngIf="emailetat" style="margin-left: 5%;color: red;font-size: 70%"> L'adresse est
        obligatoire
        <ion-icon name="alert"></ion-icon>
      </p>
      <ion-label *ngIf="!emailetat" position="floating">Adresse</ion-label>
      <ion-input type="text" (ionFocus)="hidemessage()" [(ngModel)]="adresse"></ion-input>
    </ion-item><br />

    <ion-item *ngIf="idTypetarif==1">
      <p *ngIf="montantetat" style="margin-left: 5%;color: red;font-size: 70%"> Le montant
        est obligatoir
        <ion-icon name="alert"></ion-icon>
      </p>
      <ion-label *ngIf="!montantetat" position="floating">Montant</ion-label>
      <ion-input type="text" (ionFocus)="hidemessage()" [(ngModel)]="montant"></ion-input>
    </ion-item><br />

    <ion-row>
      <p style="text-align:center; width: 100%;color: black">
        <ion-button (click)="validerExpedition()" color="danger" style="color: black;"><b
            style="color: white">Confirmer</b></ion-button>
      </p>
    </ion-row>


  </ion-list>


</ion-content>