<ion-app>
    <ion-split-pane>
        <!--<ion-menu>
      
          <ion-content>
            <ion-grid color="danger" class="forprofile">
                <ion-row justify-content-center align-items-center style="padding: 30px 0 30px 0;">
                    <ion-avatar>
                      <img style="width:100px;" src="../../assets/img/user.png">
                    </ion-avatar>
                    <span style="width:100%; text-align: center; color :#fff;margin-top: 5%">{{nom}}</span>
                </ion-row>
            </ion-grid>
            <ion-list>
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>
                    {{p.title}}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-content>
          <ion-footer padding="" style="font-family: 'Times New Roman';color: black;background-color: red">HTSOFT Company © 2019 <br/>Tous Droits Réservés.<br/>
            Version 1.0
          </ion-footer>
        </ion-menu>-->
        <ion-router-outlet main></ion-router-outlet>
      </ion-split-pane>
</ion-app>
