.ios, .md {

    

        .scroll {
            height: 100%
        }

        #map {
            width: 100%;
            height: 100%;
        }

        ion-card {
            max-height: 200px;
            width: 70%;
            background-color: white;
            overflow: scroll;
            position: absolute;
            z-index: 1;
        }

    

}