<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/coursespeciale"></ion-back-button>
		</ion-buttons>
		<ion-title>test</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card style="margin-top: 90%;">
		<ion-card-content>
			<div style="color: white" #directionsPanel></div>
		</ion-card-content>
	</ion-card>
	<div #map id="map"></div>


</ion-content>