
#map {
  width: 100%;
  height: 400px;
}
.transparent-card{
  background-color: transparent;
}

.arrondi {
  width: 120px;
  height: 50px;
  border: 2px solid #000;
  -webkit-border-radius: 
             10px 75px 10px 10px / 10px 30px 10px 10px; 
  -moz-border-radius:
             10px 75px 10px 10px / 10px 30px 10px 10px; 
  border-radius:
             10px 75px 10px 10px / 10px 30px 10px 10px; 
}
