<ion-content>
  <ion-toolbar color="danger" style="border-radius: 0px 0px 15px 15px">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons (click)="appelleExpediteurOrDestinataire()" slot="end" style="margin-right: 5%;font-size: 150%">
      <ion-icon name="call"></ion-icon>
    </ion-buttons>
    <ion-title>
       Course en cours
    </ion-title>
  </ion-toolbar>
  <div [hidden]="!user">
    <!--  <ion-item>
      <ion-label>User ID: {{ user.uid }}</ion-label>
          <ion-row>
            <ion-col>
              <img src="../../assets/img/cpt5.gif" width="100%">
            </ion-col>
            <ion-col>
              <ion-label style="font-weight: bolder">Estimation</ion-label>
            </ion-col>
    
            <ion-col>
              <ion-label style="color: red;font-weight: bolder;">{{trajet}}</ion-label>
            </ion-col>
          </ion-row>
    
        </ion-item>-->
      <!--  <ion-item>
          <ion-row>
            <ion-col>
              <img src="../../assets/img/marker1.gif" width="100%">
            </ion-col>
            <ion-col>
              <ion-label style="font-weight: bolder">Depart: </ion-label>
            </ion-col>
            <ion-col>
              <ion-label style="color: red;font-weight: bolder;">{{depart}}</ion-label>
            </ion-col>
          </ion-row>
    
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col>
              <img src="../../assets/img/arrivee.gif" width="100%">
            </ion-col>
            <ion-col>
              <ion-label style="font-weight: bolder">Destination: </ion-label>
            </ion-col>
    
            <ion-col>
              <ion-label style="color: red;font-weight: bolder;">{{destination}}</ion-label>
            </ion-col>
          </ion-row>
    
        </ion-item>-->
  </div>
  <!--<div #map id="map" [hidden]="!user"></div>-->
  <ion-card [hidden]="!user" >
    <ion-card-header style="font-weight:bolder">
       <b style="color: red">{{trajet}}</b>-  {{destination}}
    </ion-card-header>
    <ion-card-content class="transparent-card">
      <div #map id="map" [hidden]="!user"></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
        <ion-button color="danger"  (click)="recupererPaquet()" *ngIf="isReceived">
            <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
            Recupérer Paquet
          </ion-button>
          <ion-button color="danger" (click)="cloturerCourse()" *ngIf="isClosed">
            <ion-icon name="close" slot="start"></ion-icon>
            Cloturer
          </ion-button>
    </ion-card-content>
  </ion-card>
  <div *ngIf="user">

    
  <!--  <ion-button expand="block" (click)="startTracking()" *ngIf="!isTracking">
      <ion-icon name="locate" slot="start"></ion-icon>
      Start Tracking
    </ion-button>-->
    


  <!--  <ion-button expand="block" (click)="stopTracking()" *ngIf="isTracking">
      <ion-icon name="hand" slot="start"></ion-icon>
      Stop Tracking
    </ion-button>-->
  <!--
    <ion-list>
      <ion-item-sliding *ngFor="let pos of locations | async">
        <ion-item>
          <ion-label text-wrap>
            Lat: {{ pos.lat }}
            Lng: {{ pos.lng }}
            <p>
              {{ pos.timestamp | date:'short' }}
            </p>
          </ion-label>
        </ion-item>

        <ion-item-options side="start">
          <ion-item-option color="danger" (click)="deleteLocation(pos)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
    <p style="margin-left: 5%">Votre course est démarée:<br />Merci de recupérer le paquet pour poursuivre!</p>
-->
  </div>

</ion-content>