<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-buttons (click)="linkDetailCourse()" *ngIf="showcourseencours" style="margin-right: 3%;font-size: 170%" slot="end">
      <ion-icon name="share-alt"></ion-icon></ion-buttons>
    <ion-title>
      Affectation speciale
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!--<ion-item style="margin-top: 5%">
    <div class="Divisionheader" style="margin-left: 5%;color: teal">
      <p> Départ</p>
    </div>
    <div class="Divisionheader" style="color: black">
      <p>Déstination </p>
    </div>
    <div class="Divisionheader" style="color: red">
      <p> Etat</p>
    </div>
  </ion-item>-->
  <ion-row class="div2barre">
    <div class="div1barre" style="width: 5%;height: 100%;background-color: black"></div>
    <p
      style="margin:0px; font-size: 15px; width: 100%; padding: 10px; background-color:#ccc;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bolder;margin-left:5%">
    Service en cours</p>
  </ion-row>
  <ion-spinner *ngIf="spinner" name="dots"  style="margin-left: 50%;margin-top: 50%;" color="danger"></ion-spinner>

  <ul *ngFor="let l of listExpedition">

    <li ><a (click)="detailsCourse(l)">
        <ion-row>
          <ion-col size="10px">
            <!--<img  src="../../assets/img/expedition.png"> -->
            <ion-label style="color: rgb(12, 1, 1);font-family: 'Times New Roman', Times, serif;">
              {{index(l)}}
            </ion-label>
          </ion-col>
          <ion-col size="30px" >
            <img src="../../assets/img/commerce.png" width="20px">
          </ion-col>
          <ion-col >
            <!--<img  src="../../assets/img/expedition.png"> -->
            <ion-label style="color: rgb(12, 1, 1);font-family: 'Times New Roman', Times, serif;font-size: 20px">
              {{l.commerce}}<br />
              <!-- {{l.adresseCommerce}}<br/>
                    {{l.dateDebut}}<br/>
                    {{l.etatAffectation}}<br/>
                    {{l.heureDebut}}<br/>
                    {{l.heureFin}}<br/>
                    {{l.idAffectationcommerce}}<br/>
                    {{l.idTypetarif}}<br/>
                    {{l.montant}}<br/>
                    {{l.positionCommerce}}<br/>-->

            </ion-label>
          </ion-col>
         
        </ion-row>
      </a>
    </li>
    <!--<li *ngIf="l.etatAffectation!='En attente'"><a (click)="detailsCourse(l)">
        <ion-row>
            <ion-col size="10px" style="background-color: grey">
              <img  src="../../assets/img/expedition.png">
                <ion-label style="color: rgb(12, 1, 1);font-family: 'Times New Roman', Times, serif;">
                  {{index(l)}}
                </ion-label>
              </ion-col>
              <ion-col style="background-color: grey" size="30px">
                <img src="../../assets/img/commerce.png" width="20px">
              </ion-col>
          <ion-col style="background-color: grey">
              <ion-label style="color: rgb(12, 1, 1);font-family: 'Times New Roman', Times, serif;font-size: 20px">
                  {{l.commerce}}<br />
                </ion-label>
          </ion-col>
        </ion-row>
      </a>
    </li>-->
  </ul>

  <!--<ion-list *ngFor="let l of listExpedition">
    <ion-item (click)="presentActionSheet(l)">
      <div class="Division" style="margin-left: 5%;color: teal">
        <p> {{l.libelleExpedition}} </p>
      </div>
      <div class="Division" style="color: black">
        <p>{{l.libelleDestination}}</p>
      </div>
      <div class="Division" style="color: red">
        <p> {{l.etatCourse}} </p>
      </div>
    </ion-item>

  </ion-list>-->
</ion-content>