.Division{
    float: left;
    text-align: center;
     width: 100px;
     height: 20px;
     margin-left: 5px;
 }
 .Divisionheader{
    float: left;
    text-align: center;
     width: 100px;
     height: 50px;
     border: 2px solid teal;
     margin-left: 5px;
 }
 
 .p{
    
 }

 ul {

    list-style-type: none;
    
    margin: 0;
    
    padding: 0;
    
    width: 400px;
  
    
    background-color: #f1f1f1;
    
}
    
li a {
    
    display: block;
    
    color: #000;
    
   // padding: 8px 16px;
    
    text-decoration: none;
    
 }
    
    /* Change the link color on hover */
    
li a:hover {
    
  
    background-color: #555;
    
    color: white;
    
}
    .div1barre {
        position: absolute;
        z-index: 2;
      }
      
      .div2barre {
        background-color: lightblue;
        position: relative;
      }