<!--<ion-content class="bg-class" style="font-size:12px;">
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-img style="width:100px;" src="../../assets/img/ed.png"></ion-img>
      <span style="width:100%; text-align: center">DHT</span>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col size="10" offset="1" text-center>
      <h1>Connexion</h1>
    </ion-col>
  </ion-row>
  <br />
  <div>
    <ion-item>
      <ion-label position="fixed">N° Téléphone</ion-label>
      <ion-input type="number" (ionFocus)="hidemessage()" [(ngModel)]="telephone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Mot de passe</ion-label>
      <ion-input (ionFocus)="hidemessage()" [(ngModel)]="pwd" type="password"></ion-input>
    </ion-item>
    <br />
    <ion-button (click)="connecter()" class="a"  color="dark">Connecter
        <ion-icon name="log-out"></ion-icon>
    </ion-button>
    <br/>
    <div>
       <p *ngIf="erroridentifiant" style="margin-left: 5%;color: red"> Numéro ou mot de passe invalide
          <ion-icon name="alert"></ion-icon>
      </p>
      <p *ngIf="emptyform" style="margin-left: 5%;color: red"> Le numéro et le mot de passe sont obligatoirs
          <ion-icon name="alert"></ion-icon>
      </p>
    </div>
    
  </div>



</ion-content>-->
<ion-content color="danger" >
  <form  #form="ngForm" (ngSubmit)="connecter()">
    <ion-grid>
      <ion-row color="danger" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Connexion!</h3>
          </div>
          <div padding>
              <ion-item>
                  <ion-input  name="name" type="text" placeholder="Téléphone"  [(ngModel)]="telephone" required></ion-input>
                </ion-item>
           
            <ion-item>
              <ion-input name="password" type="password" placeholder="mot de passe"  [(ngModel)]="pwd" required></ion-input>
            </ion-item>
      
          </div>

          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Se connecter</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>