.centerToast{
    text-align: center;
}

.bg-class{
    --background: 
        linear-gradient(135deg, #ffcc00 15%,#ffffff 15%,#ffffff 85%,#d40511 85%);
        // linear-gradient(135deg, #ffcc00 1%,#ffcc00 50%,#d40511 50%,#d40511 100%);
        // linear-gradient(197deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important;
  }
  .a{
  
    display: block;
      margin : auto;
    }

    ion-button{
      --background: rgb(14, 4, 0);
  }
