<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/coursespeciale"></ion-back-button>
    </ion-buttons>
    <ion-title>Affectation en cours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-avatar>
        <img src="../../assets/img/commerce.png" width="100px" style="margin-left: 2%">
      </ion-avatar>
      {{commerce}}
    </ion-col>
    <h1 class="color-white font-lg" style="margin-right: 10%">
      {{time}}
    </h1>
  </ion-row>
  <ion-row (click)="confirmationMessageOptions('je teste')" class="div2barre">
    <div class="div1barre" style="width: 5%;height: 100%;background-color: black"></div>
    <p
      style="margin:0px; font-size: 15px; width: 100%; padding: 10px; background-color:#ccc;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bolder;margin-left:5%">
      Informations</p>
  </ion-row>
  <ion-row>
    <ion-col style="font-weight: bolder">
      Date
    </ion-col>
    <ion-col>
      {{dateDebut}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="font-weight: bolder">
      Horaire
    </ion-col>
    <ion-col>
      {{heureDebut}}&nbsp;{{heureFin}}
    </ion-col>
  </ion-row>
  <!--<ion-row style="font-weight: bolder">
      <ion-col>
        heure fin
      </ion-col>
      <ion-col>
          {{heureFin}}
        </ion-col>
    </ion-row>-->
  <ion-row>
    <ion-col style="font-weight: bolder">
      etat affectation
    </ion-col>
    <ion-col style="color: red">
      {{etatAffectation}}
    </ion-col>
  </ion-row>
  <ion-row *ngIf="etatAffectation!='En attente'" class="div2barre">
    <div class="div1barre" style="width: 5%;height: 100%;background-color: black"></div>
    <p
      style="margin:0px; font-size: 15px; width: 100%; padding: 10px; background-color:#ccc;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bolder;margin-left:5%">
      Nouvelle course</p>
  </ion-row>
  <ion-row *ngIf="etatAffectation!='En attente'" style="margin-left: 10%">
    <ion-col (tap)="nouvellecourse()" size="50px">
      <img src="../../assets/img/addcourse.png" width="50px">
      <br />
      Nouvelle course
    </ion-col>
    <ion-col>
      
    </ion-col>
    <ion-col (click)="nombreExpedition()" *ngIf="etatAffectation!='En attente'" id="contenu" style="background-color: grey;">
     {{nbExpedition}}
    </ion-col>

  </ion-row>
  <!-- <ion-row style="font-weight: bolder">
    <ion-col>
      position
    </ion-col>
    <ion-col>
        {{positionCommerce}}
      </ion-col>
  </ion-row>-->
  <!-- <div class="stopwatch pt-3">
      <h1 text-center class="color-white font-lg">
        {{time}}
      </h1>
    <ion-grid>
      <ion-row text-center class="mt-5">
        <ion-col class="col-12" *ngIf="!running && time == blankTime">
          <button class="circle-button circle-button-bg font-md" ion-button (tap)="start()">Demarer</button>
        </ion-col>
        <ion-col class="col-12" *ngIf="running">
          <button class="circle-button circle-button-bg circle-button-red font-md" ion-button (tap)="stop()">Stoper</button>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>
-->
</ion-content>
<ion-footer>
  <ion-row class="div2barre">
    <div class="div1barre" style="width: 5%;height: 100%;background-color: black"></div>
    <p
      style="margin:0px; font-size: 15px; width: 100%; padding: 10px; background-color:#ccc;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bolder;margin-left:5%">
      Options</p>
  </ion-row>
  <ion-row style="margin-left: 10%">
    <ion-col (tap)="demarerService()">

      <img *ngIf="etatAffectation=='En attente'" src="../../assets/img/demarer.png" width="50px">
      <br />
      <ion-label *ngIf="etatAffectation=='En attente'">Demarer</ion-label>
    </ion-col>
    <ion-col>


    </ion-col>
    <ion-col *ngIf="terminer" (tap)="stoperService()">
      <img src="../../assets/img/stop.png" width="50px">
      <br />
      Terminer
    </ion-col>

  </ion-row>
</ion-footer>