.Division{
    float: left;
    text-align: center;
     width: 100px;
     height: 20px;
     margin-left: 5px;
 }
 .Divisionheader{
    float: left;
    text-align: center;
     width: 100px;
     height: 50px;
     border: 2px solid teal;
     margin-left: 5px;
 }
 
 .p{
    
 }

 ul {

    list-style-type: none;
    
    margin: 0;
    
    padding: 0;
    
    width: 400px;
  
    
    background-color: #f1f1f1;
    
}
    
li a {
    
    display: block;
    
    color: #000;
    
   // padding: 8px 16px;
    
    text-decoration: none;
    
 }
    
    /* Change the link color on hover */
    
li a:hover {
    
    background-color: gray;
    
    color: white;
    
    }
    .div1barre {
        position: absolute;
        z-index: 2;
      }
      
      .div2barre {
        background-color: lightblue;
        position: relative;
      }
      h1{
        letter-spacing: 0.035em
    }
    .stopwatch{
        min-height: 50vh;
    }
    .result{
        height: 50vh;
        overflow-y: scroll;
    }
    .circle-button{
        border-radius: 50%;
        height: 75px;
        width: 75px;
        background-color:white;
        border: 1px solid white;
        box-shadow: inset 0 0 0 3px #00b8a4;
        color:black;
    }
    .circle-button-red{
        box-shadow: inset 0 0 0 3px #FF655B;
    }
    .circle-button-bg{
        height: 125px;
        width: 125px;
    }
    .circle-button-md{
        height: 105px;
        width: 105px;
    }
    .bg-none{
        background:none;
        color:white;
    }
    .color-white{
        color:black;
    }
    .bg-green{
        background-color: #00b8a4;
    }
    .bg-pink{
        background-color: #FF655B;
    }
    .bg-white{
        background-color:white;
    }
    .bg-whitesmoke{
        background-color:whitesmoke;
    }
    .text-light{
        color: #675d5d;
    }
    .text-lighter{
        color: #c2afaf;
    }
    .border-bottom{
        border-bottom: 1px solid #7CCBE9;
    }
    .border-bottom-light{
      border-bottom: 1px solid #D3D3D3 !important;
    }
    #contenu {
        font:Verdana, Geneva, sans-serif;
        font-size:18px;
        text-align:center;
        vertical-align:middle;
        line-height: 50px;
        
        }