// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.forprofile{
    background-color: #d40511;
    padding-left: 0px;
    padding-right: 0px;
    // --background: rgba(255, 255, 255, 1) url(assets/img/bg2.jpg) no-repeat center center / cover;

    // background: url(assets/img/bg2.jpg);
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: center;
    // width: 80%;
    // height: 246px;
    // margin: auto;
    // z-index: 2;
    // position: relative;
    
}