<!--<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      DHT Livreur
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-toolbar color="danger" style="font-weight: bolder;font-family: Georgia, 'Times New Roman', Times, serif">
      
    <ion-title align-self-center text-center>
      DHT LIVREUR
    </ion-title>
  </ion-toolbar>
  <p align-self-center text-center>
    <span >
      <label  style="font-weight: bolder;font-family: Georgia, 'Times New Roman', Times, serif">
        Bienvenue {{livreur.nom}}
      </label>
    </span>
  </p>
  <p align-self-center text-center>
      <span >
        <label  style="font-family: Georgia, 'Times New Roman', Times, serif">
          dans votre espace DHT
        </label>
      </span>
    </p>
  <ion-list style="margin-top:20%">
    <ion-item (click)="expeditionPage()">
      <ion-label style="font-weight: bolder;font-family: Georgia, 'Times New Roman', Times, serif">
        Livraison
      </ion-label>
      <img src="../../assets/img/livraison1.png" width="15%" />
      &nbsp;
      <ion-badge color="danger">{{nbAff}}</ion-badge>
    </ion-item>
    <ion-item style="margin-top:5%" (click)="mescoursesPage()" >
      <ion-label style="font-weight: bolder;font-family: Georgia, 'Times New Roman', Times, serif">
        Affectation
      </ion-label>
      <img src="../../assets/img/entreprise.png" width="15%" />
      &nbsp;
      <ion-badge color="danger">{{nbAffS}}</ion-badge>
    </ion-item>
    <ion-item style="margin-top:5%" (click)="comptePage()">
      <ion-label style="font-weight: bolder;font-family: Georgia, 'Times New Roman', Times, serif">
        Paramètres
      </ion-label>
      <img src="../../assets/img/param.png" width="15%" />
      &nbsp;
      <ion-badge  style="background-color: white">0</ion-badge>
    </ion-item>
    <ion-item (click)="deconnexion()" style="margin-top:5%" lines="none">

      <ion-label style="font-weight: bolder;font-family: Georgia, 'Times New Roman', Times, serif">
        Se deconnecter
      </ion-label>
      <img src="../../assets/img/deconnexion.png" width="15%" />
      &nbsp;
      <ion-badge color="success" style="background-color: white">0</ion-badge>
    </ion-item>
  </ion-list>
  <!--<div  class="forAccueil3">
        <div  style="margin-left: 5%;">
            <img src="../../assets/img/livraison.png" height=250/>
        </div>
    
        <div>
            <h1 >Bienvenue sur</h1>
        </div>
        
        <div>
            <h2 >DHT</h2>
            <h3  >Service de livraison fiable</h3>
        </div>
    
   </div>-->
  <!--<ion-grid fixed>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="checkGPSPermission()">
            Request GPS Accuracy
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">Longitude</ion-col>
        <ion-col> {{locationCoords.longitude}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">Latitude</ion-col>
        <ion-col>{{locationCoords.latitude}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">Accuracy</ion-col>
        <ion-col>{{locationCoords.accuracy}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">Timestamp</ion-col>
        <ion-col>{{locationCoords.timestamp | date:'medium'}}</ion-col>
      </ion-row>
    </ion-grid>-->

</ion-content>
<ion-footer (click)="sync()">
  <ion-toolbar color="danger">
      <ion-buttons *ngIf="!syn" slot="start" style="font-size: 150%">
          <ion-icon style="color: rgb(148, 199, 148)" name="wifi"></ion-icon>
        </ion-buttons>
        <ion-buttons *ngIf="syn"  slot="start" style="font-size: 150%">
            <ion-icon style="color: green" name="wifi"></ion-icon>
          </ion-buttons>
      <ion-title align-self-center text-center>
          Synchcroniser les données
        </ion-title>
  </ion-toolbar>
</ion-footer>
<!--<ion-menu side="start" menuId="custom" class="my-custom-menu">
    <div margin-left="40%" margin-bottom="40%" padding="" style="background-color: #d40511">
        <ion-avatar item-start="" style="background-color: #d40511;margin-bottom: 5%" >
         <img src="../../assets/img/user.png"  imageViewer width="30%" style="border-radius: 50%;background-color: whitesmoke">
        </ion-avatar>
        <b (click)="moncompte()" style="font-weight: bolder;color: black;">{{pseudo}}</b>
      </div>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="home" style="margin-right: 5%"></ion-icon>
        Acceuil
      </ion-item>
      <ion-item (click)="comptePage()">
        <ion-icon name="person" style="margin-right: 5%"></ion-icon>
        Profil
      </ion-item>
      <ion-item (click)="expeditionPage()"  >
          <ion-icon name="clipboard" style="margin-right: 5%"></ion-icon>
        Mes afféctations
      </ion-item>
      <ion-item (click)="mescoursesPage()" >
          <ion-icon name="checkmark-circle-outline" style="margin-right: 5%"></ion-icon>
        Mes courses
      </ion-item>
      <ion-item >
          <ion-icon name="power" style="margin-right: 5%"></ion-icon>
          Deconnexion
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer padding="" style="font-family: 'Times New Roman';color: black;background-color: #d40511">HTSOFT Company © 2019 <br/>Tous Droits Réservés.<br/>
    Version 1.0
  </ion-footer>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>-->