.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  .firstDiv{
    width: 50%;
    height: 25%;
    border: 2px;
    background-color: darkcyan;
    color: whitesmoke;
    font-weight: bolder;
  }

  .forAccueil{
    text-align: center;
    color: whitesmoke;
    font-size: 200%;
    font-family: Algerian;
  }

  .forAccueil2{
    text-align: center;
    color: whitesmoke;
    font-size: 150%;
    font-family: Algerian;

  }

  .forAccueil3{
    text-align: center;
    color: black;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
  }

  .secondDiv{
    width: 50%;
    height: 25%;
    border: 2px;
    background-color: darkslategray;
    color: whitesmoke;
    font-weight: bolder;
  }
  .lastDiv{
    width: 100%;
    height: 25%;
    border: 2px;

    color: whitesmoke;
    font-weight: bolder;
  }

  .globalContent{
    height: 100%;
    width: 100%;
    border: 2px;
    background-color: darkslategray;
  
  }

  .navBar{
    background-color: darkslategray;
  }


  
  
